{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}


<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="top" class="hoc clear"> 
    <div class="wrapper row bgded">
      <a class="btmspace-30">
        <img src="{% static 'images/imagenes/grupomexicanobursatil.jpg' %}" alt="GBM">
      </a>
    </div>
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- ################################### main body ############################################## -->
    <!-- ################################### main body ############################################## -->
    <!-- ################################### main body ############################################## -->
    <section id="introblocks" class="row3 inspace-30 clear">
      <div class="one_half first">
        <h6 class="heading"><em>01</em> Órdenes avanzadas</h6>
        <p class="heading font-x1">En línea, a mercado, limitada, 
          <br>MPL (activa, pasiva y volumen 
          <br>oculto), one cancel another y 
          <br>stop loss.</p>
        <article class="center"><a class="imgover btmspace-30" href="#"><img src="{% static 'images/imagenes/warren.jpg' %}" alt=""></a>
          <p class="font-xs nospace">Listo Para Empezar →</p>
          <p class="heading">Warren Buffett</p>
        </article>
      </div>
      <div class="one_half">
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <h6 class="heading"><em>02</em> Ventas en corto</h6>
            <p>Gana en mercados a la baja al realizar transacciones de préstamo de valores.</p>
          </li>
          <li class="one_half btmspace-30">
            <h6 class="heading"><em>03</em> Margen intradía</h6>
            <p>Un préstamo de capital adicional a tu portafolio para comprar y vender en el mismo día.</p>
          </li>
          <li class="one_half first">
            <h6 class="heading"><em>04</em> Análisis fundamental</h6>
            <p>Conoce los precios objetivo, datos económicos y las tesis de inversión del mercado mexicano.</p>
          </li>
          <li class="one_half">
            <h6 class="heading"><em>05</em> Información especializada</h6>
            <p>Recibe documentos y comentarios del equipo de inversiones de GBM.</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->



    <!-- ##################################PLANES DE COMISIÓN############################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

      {% block stilos %}
      <style type="text/css">
      /* DEMO ONLY */
        .container .demo{text-align:center;}
        .container .demo div{padding:8px 0;}
        .container .demo div:nth-child(odd){color:#FFFFFF; background:#CCCCCC;}
        .container .demo div:nth-child(even){color:#FFFFFF; background:#979797;}
        @media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
       /* DEMO ONLY */
      </style>
      {% endblock %}

      <div class="wrapper row3">
        <section id="services">
          <div class="sectiontitle">
            <p class="nospace font-xs">Hasta 0.10% por transacción dependiendo de tu monto de operación.</p>
            <h6 class="heading font-x2">Comisiones a tu medida.</h6>
          </div>
        <main class="hoc container clear">        
          <!-- main body -->
          <!-- ################################################################################################ -->
          {% for plan in principal %}
          <div class="group btmspace-50 demo">
            <div class="one_quarter first"><b><img src="{{ plan.icono.url }}">{{ plan.titulo }}</b></div>
            <div class="three_quarter">{{ plan.descripcion }}</div>
          </div>
          {% endfor %}
           <!-- ################################################################################################ -->
          <!-- ################################################################################################ -->
          <!-- / main body -->
          <div class="clear"></div>        
        </main>
      </div>
    </section>
    
    <!-- ################################### / main body ############################################## -->
    <!-- ################################### / main body ############################################## -->
    <!-- ################################### / main body ############################################## -->
    <div class="clear"></div>
  </main>
</div>









<div id="breadcrumb" class="hoc clear"> 
  <!-- ################################################################################################ -->
  <h6 class="heading">Gallery</h6>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Lorem</a></li>
    <li><a href="#">Ipsum</a></li>
    <li><a href="#">Dolor</a></li>
  </ul>
  <!-- ################################################################################################ -->
</div>
<!-- ################################################################################################ -->
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <header class="heading">Gallery Title Goes Here</header>
          <ul class="nospace clear">
            <li class="one_quarter first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter first"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
            <li class="one_quarter"><a href="#"><img src="../images/demo/gallery/01.png" alt=""></a></li>
          </ul>
          <figcaption>Gallery Description Goes Here</figcaption>
        </figure>
      </div>
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <nav class="pagination">
        <ul>
          <li><a href="#">&laquo; Previous</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">6</a></li>
          <li class="current"><strong>7</strong></li>
          <li><a href="#">8</a></li>
          <li><a href="#">9</a></li>
          <li><strong>&hellip;</strong></li>
          <li><a href="#">14</a></li>
          <li><a href="#">15</a></li>
          <li><a href="#">Next &raquo;</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>


<h2>Write A Comment</h2>
      <form action="" method="post">
          {% csrf_token %}
        <fieldset>
          <div>
            <input class="btmspace-15" type="text" value="" placeholder="Nombre Cuenta" name="{{ form.cuenta.name }}">
            <input class="btmspace-15" type="text" value="" placeholder="Correo Electrónico" name="{{ form.correo_e.name }}">
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </fieldset>
      </form>



















<!-- #################################### ANTE PIE DE PÁGINA ######################################## -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url(' {% static 'images/imagenes/rasca.jpg' %}');">
  <article class="hoc container clear">
    <div class="one_half first">
      <h6 class="heading font-x3"><span>GBM +</span></h6>
      <p class="btmspace-30">Grupo Bursátil Mexicano (GBM) tiene más de 30 años de experiencia, el mejor equipo de analistas y asesores, y la tecnología más avanzada para que saques el máximo potencial de tu dinero.&hellip;</p>
      <footer><a class="btn" href="https://plus.gbm.com/smart-cash.html">Quiero Saber Más</a></footer>
    </div>
    <div class="one_half"><img class="borderedbox inspace-10" src="{% static 'images/imagenes/trading.jpg' %}" alt=""></div>
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

</body>
{% endblock %}
