{% extends "app/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}

{% block btnstyle %}
<style>
  .botones {
  width: 100%;
  text-align: center;
}

#separar{
  padding: 3%;
  display: inline-block;
}
.pkmn {
  padding: 16px 32px;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
}
.planta {
  margin-top: 32px;
  background: #1abc9c;
  border: 2px solid #1abc9c;
  color: #ffffff;
}

.agua {
  margin-bottom: 32px;
  background: #0099CC;
  border: 2px solid #0099CC;
  color: #ffffff;
}

.boton3:hover {
  background: transparent;
  color: #0099CC !important;
}

.boton4:hover {
  background: transparent;
  color: #1abc9c !important;
}
</style>
{% endblock %}

{% block estilos %}
    <style type="text/css">
    /* DEMO ONLY */
      .container .demo{text-align:left;}
      .container .demo div{padding: 10px 18px; border-radius: 6px;}
      .container .demo div:nth-child(odd){color:#FFFFFF; background:#b1b0b0;}
      .container .demo div:nth-child(even){color:#FFFFFF; background:#7a7a7a;}
      @media screen and (max-width:900px){.container .demo div{margin-bottom:0;}}
     /* DEMO ONLY */
    </style>
{% endblock %}

<body id="top">
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="top" class="hoc clear">
    <div class="wrapper row bgded">
      <a class="btmspace-30">
        <img src="{% static 'images/imagenes/grupomexicanobursatil.jpg' %}" alt="GBM">
      </a>
    </div>
  </div>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- ################################### main body ############################################## -->
    <!-- ################################### main body ############################################## -->
    <!-- ################################### main body ############################################## -->
    <section id="introblocks" class="row3 inspace-30 clear">
      <div class="one_half first">
        <h6 class="heading"><em>01</em> Órdenes avanzadas</h6>
        <p class="heading font-x1">En línea, a mercado, limitada, 
          <br>MPL (activa, pasiva y volumen 
          <br>oculto), one cancel another y 
          <br>stop loss.</p>
        <article class="center"><a class="imgover btmspace-30" href="#"><img src="{% static 'images/imagenes/warren.jpg' %}" alt=""></a>
          <p class="font-xs nospace">Listo Para Empezar →</p>
          <p class="heading">Warren Buffett</p>
        </article>
      </div>
      <div class="one_half">
        <ul class="nospace group">
          <li class="one_half first btmspace-30">
            <h6 class="heading"><em>02</em> Ventas en corto</h6>
            <p>Gana en mercados a la baja al realizar transacciones de préstamo de valores.</p>
          </li>
          <li class="one_half btmspace-30">
            <h6 class="heading"><em>03</em> Margen intradía</h6>
            <p>Un préstamo de capital adicional a tu portafolio para comprar y vender en el mismo día.</p>
          </li>
          <li class="one_half first">
            <h6 class="heading"><em>04</em> Análisis fundamental</h6>
            <p>Conoce los precios objetivo, datos económicos y las tesis de inversión del mercado mexicano.</p>
          </li>
          <li class="one_half">
            <h6 class="heading"><em>05</em> Información especializada</h6>
            <p>Recibe documentos y comentarios del equipo de inversiones de GBM.</p>
          </li>
        </ul>
      </div>
    </section>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->



    <!-- ##################################PLANES DE COMISIÓN############################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->

      <div class="wrapper row3">
        <section id="services">
          <div class="sectiontitle">
            <p class="nospace font-xs">Hasta 0.10% por transacción dependiendo de tu monto de operación.</p>
            <h6 class="heading font-x2">Comisiones a tu medida.</h6>
          </div>
        <main class="hoc container clear">        
          <!-- main body -->
          <!-- ################################################################################################ -->
          {% for plan in principal %}
          <div class="group btmspace-50 demo">
            <div class="one_quarter first"><img style="padding-right: 10px;" src="{{ plan.icono.url }}"><b>{{ plan.titulo }}</b></div>
            <div class="three_quarter" style="text-align: center; font-family: 'Segoe UI'"><p>{{ plan.descripcion }}</p></div>
          </div>
          {% endfor %}
           <!-- ################################################################################################ -->
          <!-- ################################################################################################ -->
          <!-- / main body -->
          <div class="clear"></div>        
        </main>
      </div>
    </section>
    
    <!-- ################################### / main body ############################################## -->
    <!-- ################################### / main body ############################################## -->
    <!-- ################################### / main body ############################################## -->
    <div class="clear"></div>
  </main>
</div>










<center>
<h2 class="nospace btmspace-15" style="margin-top: 32px;"><strong>Comentarios</strong></h2>
      <form action="" method="post">
          {% csrf_token %}
        <fieldset>
          <div>
            <input class="btmspace-15" type="text" value="" placeholder="Nombre" name="{{ formComenta.persona.name }}" style="color: #ffffff; background: transparent; border: 2px solid #0099CC; border-radius: 6px; padding: 16px 32px; text-align: center; text-transform: uppercase; margin-bottom: 32px;">
            <input class="btmspace-15" type="text" value="" placeholder="Comentanos" name="{{ formComenta.comentario.name }}" style="color: #ffffff; background: transparent; border: 2px solid #0099CC; border-radius: 6px; padding: 80px 100px; text-align: center; text-transform: uppercase; margin-bottom: 32px;">
            <section class="botones">
              <div id="separar">
                <input class="pkmn planta boton4" type="submit" name="submit" value="Enviar Respuesta">
              </div>
              &nbsp;
              <div id="separar">
                <input class="pkmn agua boton3" type="reset" name="reset" value="Limpiar Formulario">
              </div>
            </section>
          </div>
        </fieldset>
      </form>
</center>

{% for comment in comentario %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <fieldset>
      <div>
        <center>
          <input class="btmspace-15" type="text" value="" placeholder="{{ comment.comentario }}" name="" style="color: #ffffff; background: transparent; border: 2px solid #0099CC; border-radius: 6px; padding: 150px 300px; text-align: center; text-transform: uppercase; margin-bottom: 32px;">
        </center>
      </div>
    </fieldset>
  </main>
</div>
{% endfor %}







<!-- #################################### ANTE PIE DE PÁGINA ######################################## -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url(' {% static 'images/imagenes/rasca.jpg' %}');">
  <article class="hoc container clear">
    <div class="one_half first">
      <h6 class="heading font-x3"><span>GBM +</span></h6>
      <p class="btmspace-30">Grupo Bursátil Mexicano (GBM) tiene más de 30 años de experiencia, el mejor equipo de analistas y asesores, y la tecnología más avanzada para que saques el máximo potencial de tu dinero.&hellip;</p>
      <footer><a class="btn" href="https://plus.gbm.com/smart-cash.html">Quiero Saber Más</a></footer>
    </div>
    <div class="one_half"><img class="borderedbox inspace-10" src="{% static 'images/imagenes/trading.jpg' %}" alt=""></div>
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

</body>
{% endblock %}
