{% extends "app/base.html" %}
{% load static %}

{% block titulo %}
Registro Users
{% endblock %}

{% block contenido %}


<style>
    .botones {
    width: 100%;
    text-align: center;
  }
  
  #separar{
    padding: 3%;
    display: inline-block;
  }
  .pkmn {
    padding: 16px 32px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
  }
  .planta {
    margin-top: 32px;
    background: #1abc9c;
    border: 2px solid #1abc9c;
    color: #ffffff;
  }
  
  .agua {
    margin-bottom: 32px;
    background: #0099CC;
    border: 2px solid #0099CC;
    color: #ffffff;
  }
  
  .boton3:hover {
    background: transparent;
    color: #0099CC !important;
  }
  
  .boton4:hover {
    background: transparent;
    color: #1abc9c !important;
  }
  </style>



<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <div class="content three_quarter" id="comments"> 
        <h2 class="center">Registro Usuario</h2>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
              <div id="form_errors">
                {% for key, value in form.errors.items %}
                  <strong>{{ value }}</strong>
                {% endfor %}
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endif %}
          <div class="one_third first">
            <label for="name">Nombre<span>*</span></label>
            <input type="text" name="{{ formRegis.nombre.name }}" id="name" value="" size="22">
          </div>
          <div class="one_third">
            <label for="last_name">Apellido<span>*</span></label>
            <input type="text" name="{{ formRegis.apellido.name}}" id="last_name" value="" size="22">
          </div>
          <div class="one_third last">
            <label for="username">Nombre Usuario</label>
            <input type="text" name="{{ formRegis.usuario.name }}" id="username" value="" size="22">
          </div>
          <div class="one_third first">
            <label for="email">Email</label>
            <input type="email" name="{{ formRegis.correo_e.name }}" id="email" value="" size="22">
          </div>
          <div class="one_third">
            <label for="password">Contraseña</label>
            <input type="password" name="{{ formRegis.contraseña.name }}" id="password" value="" size="22">
          </div>
          <div class="one_third last">
            <label for="password2">Confirmación de Contraseña</label>
            <input type="password" name="#" id="password2" value="" size="22">
          </div>
          <div class="botones">
            &nbsp;
            <div id="separar">
                <input class="pkmn planta boton4" name="submit" type="submit" value="Registrar">
            </div>
            &nbsp;
            <div id="separar">
                <input class="pkmn agua boton3" name="reset" type="reset" value="Limpiar">
            </div>
          </div>
          <div class="block center">
            <p>¿Ya tienes una cuenta? Ingresa <a href="{% url 'login' %}"> Aquí </a></p>
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
{% endblock %}